.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: .65em;
}


/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: non;
}  

.fa:hover {
    color: darkblue;
}
</style>
<i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
<script>
function myFunction(x) {
    x.classList.toggle("fa-thumbs-down");
}
</script> */